<div class="font-custom">
  <div class="relative">
    <img
      src="../../../assets/image/79000800.jpg"
      alt="homepage"
      class="object-contain"
    />
    <div class="absolute inset-0 left-0 inset-y-0 md:mx-10">
      <div class="flex items-center h-full w-1/2 pl-8 mr-10">
        <h1
          class="text-white uppercase font-black text-lg md:text-2xl lg:text-5xl"
        >
          Dynamic approach to brand promotion & online marketing
        </h1>
      </div>
    </div>
  </div>

  <div class="px-8 md:px-16 mb-6 py-16">
    <div class="grid md:grid-cols-2">
      <div>
        <img src="../../../assets/image/4040274.jpg" alt="4o4o2o74" />
      </div>
      <div class="md:pt-24 md:px-12">
        <h1
          class="uppercase text-gray-900 text-xl lg:text-5xl font-black mt-6 mb-3"
        >
          Become an influencer
        </h1>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis est
          officia debitis culpa commodi ut, dolorum praesentium illo, blanditiis
          dolores, voluptates possimus explicabo eos odio libero provident nam
          aspernatur! Quo? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Id quae hic officiis, ipsa eius reprehenderit voluptate.
          Quisquam facilis reprehenderit, asperiores iusto voluptate dolorum
          placeat adipisci debitis dolores minima incidunt accusamus?
        </p>
        <div class="mt-3">
          <button
            class="px-3 py-2 bg-amber text-white font-bold font-sm hover:shadow:xl rounded"
          >
            REGISTER
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary mt-10">
    <div class="py-16 lg:flex">
      <div class="lg:w-1/2">
        <div class="px-8 md:px-16 lg:px-32 my-3 text-white">
          <h1 class="font-black text-2xl md:text-3xl lg:text-5xl mb-3">
            HIRE US!
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minus
            molestias iusto debitis ipsa cum reprehenderit ipsam maiores fugiat
            suscipit. Eligendi, ea animi dolorum quae assumenda praesentium?
            Repudiandae, exercitationem ea! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Sint iste reprehenderit quasi sed
            consectetur maiores facilis laudantium nam enim recusandae cum sit
            unde praesentium, quas dolor perferendis nisi magni quam.
          </p>
          <div class="mt-5">
            <button
              class="px-3 py-2 bg-amber text-white font-bold font-sm hover:shadow-xl rounded"
            >
              CLICK HERE
            </button>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 px-8 lg:px-32 relative">
        <div
          class="border-solid border-4 border-primary rounded shadow-2xl mt-16 lg:-my-32"
        >
          <img
            src="../../../assets/image/multiethnic-leaders-greeting-each-other-city_74855-4335.jpg"
            alt="greeting"
            class="w-full"
          />
        </div>
      </div>
    </div>
  </div>
</div>
