<div
  class="font-custom bg-repeat-y lg:px-32"
  style="background-image: url('../../../assets/image/900.jpg')"
>
  <div class="divide-y divide-gray-600 py-12">
    <div class="text-center pb-8">
      <h1 class="font-black text-lg lg:text-6xl text-amber uppercase">
        Hire us
      </h1>
      <p class="text-white px-8 lg:text-xl">
        To hire our services, kindly fill the form below with the appropriate
        details where applicable.
      </p>
    </div>

    <div>
      <div class="lg:flex mx-6 lg:mx-32">
        <div class="lg:flex lg:flex-col lg:w-2/5">
          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg block text-white"
              >Brand Name</label
            >
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 px-3 mt-2 w-full rounded"
              placeholder="Brand name"
            />
          </div>

          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg text-white"
              >Brand Type</label
            ><br />
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 px-3 mt-2 w-full rounded"
              placeholder="Brand Type"
            />
          </div>

          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg w-full text-white"
              >Email</label
            ><br />
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 px-3 w-full mt-2 rounded"
              placeholder="email@email.com"
            />
          </div>

          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg text-white"
              >Brand Name</label
            ><br />
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 w-full mt-2 rounded"
              rounded
            />
          </div>
        </div>

        <div class="lg:w-1/5"></div>

        <div class="lg:flex lg:flex-col lg:w-2/5 lg:mx-12">
          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg block text-white"
              >Brand Name</label
            >
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 px-3 mt-2 w-full rounded"
              placeholder="Brand name"
            />
          </div>

          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg text-white"
              >Brand Type</label
            ><br />
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 px-3 mt-2 w-full rounded"
              placeholder="Brand Type"
            />
          </div>

          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg w-full text-white"
              >Email</label
            ><br />
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 px-3 w-full mt-2 rounded"
              placeholder="email@email.com"
            />
          </div>

          <div class="mt-8 w-full">
            <label for="brandName" class="text-bold text-lg text-white"
              >Brand Name</label
            ><br />
            <input
              type="text"
              name="brandName"
              class="bg-white text-gray-700 py-6 w-full mt-2 rounded"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
